<section style="background-color: #eee;">
    <div style="background-color: black;height: 55px;text-align: center;"><h1 style="color: white;">My Profile</h1></div>
    <div style="align-items: center;text-align: center;margin-top: 20px;margin-right: 100px;display: flex;">
    <div class="container py-5">
      
  
      <div class="row">
        <div class="col-lg-4">
          
         </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.fullname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile No.</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.mobileNo}}</p>
                </div>
              </div>
              <hr>
             
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.gender}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Department</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.department}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-showing-hand-at-direction-4928291-4122900.png"/>
</div>
  </section>