<div>
    <div>
       <div style="background-color: black;text-align: center;height: 50px;"><h1 style="color: white;">Department Page</h1></div>
       
       <div style="display: flex;margin-left: 450px;margin-top: 20px;"><button type="button" (click)="changable=true" class="btn btn-primary">List_Of_Department's</button>
        &nbsp; &nbsp;<button type="button" (click)="changable=false" class="btn btn-success">Create_New_Department</button> </div> 
        <div style="width: 100%;background-color: black;height:2px;margin-top: 10px;"></div><div style="margin-top: 40px;">
          @if(changable){
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

            <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>All Department List</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: auto; overflow: hidden; outline: none;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Department Name</th> 
                                            <th>Update User</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        @for (item of department; track $index) {
                                        <tr>
                                            <!-- <td class="table-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                            </td> -->
                                            <td class="text-truncat">{{$index+1}}</td>
                                            <td class="text-truncat">
                                               {{item.name}}
                                            </td>
                                              
                                           <td class="text-truncat">
                                             <button type="button"  class="btn btn-primary" (click)="updateDepartement(item._id)">Update</button>
                                             <button type="button" (click)="deleteDepartment(item._id)" class="btn btn-danger">Delete</button>

                                               </td>
                                        </tr>
                                      }
                                                   </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
           
        }@else{

          <section style="margin-top: 10px;">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create New Department...</h3>
                      
          
                        <div class="row">
                          <!-- <div class="col-md-6 mb-4"> -->
          
                            <div data-mdb-input-init class="form-outline">
                              <input type="text" id="firstName" name="obj.name"  [(ngModel)]="obj.name" class="form-control form-control-lg" style="border: 2px solid black;" />
                              <label class="form-label" for="firstName">Department Name</label>
                            </div>
                            
          
                          <!-- </div> -->
                          <div class="mt-4 pt-2">
                            <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" (click)="createDepartment()" value="Submit" />
                          </div>
            
                        </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        }  
      
      </div>
</div>

