<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Deleted Tickets List</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: auto; overflow: hidden; outline: none;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ticket Id</th>
                                <th>Department</th> 
                                <th>Parent-Category</th>
                                <th>Child-Category</th>
                                <th>Created By</th>
                                <th>Contact No</th>
                                <th>Created Date</th>
                                <th>Assigned To</th>
                                <th>Status</th>
                                <th>Update Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td class="table-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                </td> -->
                                <td class="text-truncate">1</td>
                                <td class="text-truncate">
                                   Software Programmer
                                </td>
                                <td class="text-truncat">Software</td>
                                <td class="text-truncate">
                                   Software Installation
                                </td>
                                <td class="text-truncate">
                                  Akshay Patil
                                </td>
                                <td class="text-truncat">
                                  8669014772
                                  <td class="text-truncat">
                                    28/9/2021
                                   </td> 
                                   <td class="text-truncat">
                                  Ashay Patil
                                   </td> <td class="text-truncat">
                                    InProgress
                                   </td>
                               <td class="text-truncat">
                                 <button type="button" class="btn btn-primary">Primary</button>
                                   </td>
                            </tr>
                            <tr>
                                <!-- <td class="table-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                </td> -->
                                <td class="text-truncat">2</td>
                                <td class="text-truncat">
                                   Software Programmer
                                </td>
                                <td class="text-truncat">Software</td>
                                <td class="text-truncate">
                                   Software Installation
                                </td>
                                <td class="text-truncate">
                                  Akshay Patil
                                </td>
                                <td class="text-truncat">
                                  8669014772
                                  <td class="text-truncat">
                                    28/9/2021
                                   </td> <td class="text-truncat">
                                  Ashay Patil
                                   </td> <td class="text-truncat">
                                    InProgress
                                   </td>
                               <td class="text-truncat">
                                 <button type="button" class="btn btn-primary">Primary</button>
                                   </td>
                            </tr>
                                                   </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
